<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Individual Coursework 1</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="vue.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
    <div id="app">
        <header>
            <h1 v-html='sitename'></h1>
            <button @click='showCheckout'>
                {{cartItemCount}}
                <span class="fas fa-cart-plus"></span>Checkout
            </button>
        </header>
        <main>
            <!-- Product Page-->
            <div v-if='showProduct'>
                <figure>
                    <img v-bind:src='product.image' width="200" height="200">
                </figure>
                <h2 v-html='product.subject'></h2>
                <p v-text='product.location'></p>
                <p>Price: {{product.price}}</p>
                <p>Stock: {{product.availableInventory}}</p>
                <button @click="addToCart" v-if="canAddToCart">Add to cart</button> 
                <button disabled='disable' v-else>Add to cart</button>
                <span v-if = "product.availableInventory === cartItemCount">
                    All out!
                </span>
                <span v-else-if = "product.availableInventory - cartItemCount < 5">
                    Only {{product.availableInventory - cartItemCount}} left!
                </span>
                <span v-else>Buy now!</span>
                <div>
                    <span v-for='n in product.rating'>★</span>
                    <span v-for='n in 5-product.rating'>✰</span>
                </div>
            </div>
            <div v-else>
                <h2>Checkout</h2>
                <p>
                    <strong>First Name:</strong>
                    <input v-model.trim="order.firstName"/>
                </p>
                <p>
                    <strong>Last Name:</strong>
                    <input v-model.trim="order.lastName"/>
                </p>
                <p>
                    <strong>Address:</strong>
                    <input v-model="order.address"/>
                </p>
                <p>
                    <strong>City:</strong>
                    <input v-model="order.city"/>
                </p>
                <p>
                    <strong>State:</strong>
                    <select v-model="order.state" class="form-control">
                        <option disabled value="">State</option>
                        <option v-for="(state, key) in states"
                            v-bind:value="state">
                            {{key}}
                        </option>
                    </select>
                </p>
                <p>
                    <input type="checkbox" id="gift" value="true" v-model="order.gift" v-bind:true-value="order.sendGift" v-bind:false-value="order.dontSendGift">
                    <label for="gift">Ship As Gift?</label>
                </p>
                <p>
                    <input type="radio" id="home" value="Home" v-model="order.method">
                    <label for="home">Home</label>
                    <input type="radio" id="business" value="Business" v-model="order.method">
                    <label for="business">Business</label>
                </p>
                <!--Submit Form-->
                <button @click="submitForm">Place Order</button>
                <p>
                    <strong>Zip/Postal Code:</strong> <input v-model.number="order.zip" type="number"/>
                </p>
                <h2>Order Information</h2>
                <p>First Name: {{order.firstName}}</p>
                <p>Last Name: {{order.lastName}}</p>
                <p>Address: {{order.address}}</p>
                <p>City: {{order.city}}</p>
                <p>Zip: {{order.zip}}</p>
                <p>State: {{order.state}}</p>
                <p>Gift: {{order.gift}}</p>
                <p>Method: {{order.method}}</p>
            </div>
        </main>
    </div>


    <script>
        let webstore = new Vue ({
            el: '#app',
            data: {
                showProduct: true,
                order:{
                    firstName: '',
                    lastName: '',
                    address: '',
                    city: '',
                    zip: '',
                    state: '',
                    method: 'Home',
                    sendGift: 'Send as a gift',
                    dontSendGift: 'Do no send as a gift'
                },
                states:{
                    AL: 'Alabama',
                    AR: 'Arizona',
                    CA: 'California',
                    NV: 'Nevada'
                },
                sitename: '<strong>After School Club</strong>',
                product: {
                    id: 1001,
                    image: "product.png",
                    subject: "<strong>Math</strong>",
                    location: "London",
                    price: 100,
                    availableInventory: 10,
                    rating: 4
                },
                cart: []
            },
            methods: {
                addToCart: function(){
                    this.cart.push(this.product.id);
                },
                showCheckout: function(){
                    this.showProduct = this.showProduct ? false : true;
                },
                submitForm: function(){
                    {alert('Order submitted!')}
                }
            },
            computed: {
                canAddToCart: function() {
                    return this.product.availableInventory > this.cartItemCount;
                },
                cartItemCount: function(){
                    return this.cart.length || '';
                }
            }
        })
    </script>
</body>
</html>