* {
    box-sizing: border-box;
  }
  #app{
      text-align: center;
  }
  .product {
    float: left;
    width: 30%;
    padding: 10px;
    margin: 1%;
    border: 5px solid black;
  }
  .checkout {
    border: 5px solid black;
    margin-top: 1%;
    width: 100%;
  }
  input {
      border-radius: 4px;
  }